[submodule "vendor/flext"]
	path = vendor/flext
	url = https://github.com/jamiebullock/flext.git



[submodule "vendor/grt"]
	path = vendor/grt
	url = https://github.com/jamiebullock/grt.git
[submodule "vendor/libpd"]
	path = vendor/libpd
	url = https://jamiebullock@github.com/libpd/libpd.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://jamiebullock@github.com/nlohmann/json.git
[submodule "vendor/max-sdk-base"]
	path = vendor/max-sdk-base
	url = https://jamiebullock@github.com/Cycling74/max-sdk-base.git
