# OS X
.DS_Store
# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
# Compiled Object files
*.slo
*.lo
*.o
# Libtool Static libraries
*.lai
*.la
# Built pd binaries
*.pd_linux
*.pd_darwin
*.zip
/build/macosx/max-sdk-7.1.0
/build/.vs/test/v14/.suo
ml-doc/build/macosx/ml-doc/ml-doc.xcodeproj/project.xcworkspace/xcshareddata
build/macosx/ml.xcworkspace/xcshareddata
/help
